/node_modules

# /public

package-lock.json
.env
npm-debug.log
yarn-error.log

# Atom-editor plugin-config to load code on server (may content passwords)
.sync.json
.remote-sync.json

# May content pass and other sensitive data!
.editorconfig
.data

# Ignore config file
config.json
